[package]
name = "micropb-gen"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
protox = "0.5.1"
miette = { version = "5.8", features = ["fancy"] }
quote = "1"
proc-macro2 = "1"
convert_case = "0.6"
