[package]
name = "basic"
version = "0.1.0"
edition = "2021"

[dependencies]
micropb = { path = "../../micropb", features = ["container-heapless-0-9"] }
heapless = "0.9"

[build-dependencies]
micropb-gen = { path = "../../micropb-gen" }
